<app-navbar></app-navbar>
<div class="container q-container">
  <app-button customClasses="btn-floating teal add-button" (clickButton)="quotationForm.switchFormVisibility()">
    <i class="material-icons">add</i>
  </app-button>
  <app-quotation-form (newQuotation)="onNewQuotation($event)" #quotationForm></app-quotation-form>
  <div class="row">
    <div class="col s8">
      <app-quotes-list [quotes]="quotes" (vote)="onVote($event)"></app-quotes-list>
    </div>
    <div class="col s4">
      <app-quotes-ranking [quotes]="sortByBestVotes()"></app-quotes-ranking>
    </div>
  </div>
</div>
