<app-navbar title="Najlepsze Cytaty"></app-navbar>

<div class="container q-container">
  <app-button customClasses="btn-floating deep-orange add-button" (clickButton)="form.onSwitchForm($event)">
    <i class="material-icons">add</i>
  </app-button>
  <app-form #form (newQuotation)="onNewQuotation($event)"></app-form>

  <div class="row">
    <div class="col s8">
      <app-quote-card [quotes]="quotes" (vote)="addVote($event.quotation,$event.value)"></app-quote-card>
    </div>
    <div class="col s4">
      <app-ranking [quotes]="bestQuotes()" title="Najlepsze Cytaty"></app-ranking>
      <app-ranking [quotes]="worstQuotes()" title="Najgorsze Cytaty"></app-ranking>
    </div>
  </div>
</div>
